<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="com.gurjeet.springlearning.Alien">
        <property name="desk" ref="desk"/>
    </bean>

    <bean id="lap" class="com.gurjeet.springlearning.Laptop">
    </bean>

    <bean id="desk" class="com.gurjeet.springlearning.Desktop">
    </bean>

</beans>