<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="com.gurjeet.springlearning.Alien" autowire="byName">
        <constructor-arg index="0" value="21"></constructor-arg>
        <constructor-arg index="1" ref="desk"></constructor-arg>
        <property name="com" ref="lap"/>
    </bean>

    <bean id="lap" class="com.gurjeet.springlearning.Laptop">
    </bean>

    <bean id="desk" class="com.gurjeet.springlearning.Desktop">
    </bean>

</beans>